<Html>  
    <head>   
    <title>  
    Registration Page  
    </title>  
    </head>  
    <body bgcolor="Lightskyblue">  
    <br>  
    <br>  
    <form action="/long" method="POST">  
      
    <label> cgpa </label>         
    <input type="text" id = "cgpa"name="cgpa" size="15"/> <br> <br>  
    <!-- <label> Total Arrears: </label>     
    <input type="text" id="tot_arriers" name="tot_arriers" size="15"/> <br> <br>   -->
    <label> Cleared Arrears: </label>         
    <input type="text" id="clrd_arriers" name="clrd_arriers" size="15"/> <br> <br>  
    <label> Interns </label>         
    <input type="text" id="interns" name="interns" size="15"/> <br> <br>  
    <label>Paied Interns: </label>         
    <input type="text" id="Paid_intrn" name="Paid_intrn" size="15"/> <br> <br>  
    <label> projects: </label>         
    <input type="text" id="Projects" name="Projects" size="15"/> <br> <br>  
    <label> Articles: </label>         
    <input type="text" id="Articels" name="Articels" size="15"/> <br> <br>
   

    <input type="submit" />  
    </form>  
    </body>  
    </html>  